<h3>Create New Request</h3>

<form [formGroup]="requestForm" (ngSubmit)="onSubmit()">
  <!-- Category Dropdown -->
  <label>
    Category:
    <select formControlName="categoty_id">
      <option value="" disabled>Select category</option>
      <option *ngFor="let cat of categories" [value]="cat.id">
        {{ cat.name }}
      </option>
    </select>
  </label>

  <br />

  <!-- Title -->
  <label>
    Title:
    <input type="text" formControlName="title" placeholder="Enter request title" />
  </label>

  <br />

  <!-- Description -->
  <label>
    Description:
    <textarea formControlName="description" placeholder="Enter request description"></textarea>
  </label>

  <br />

  <label>
    Upload File:
    <input type="file" (change)="onFileSelected($event)" />
  </label>
  <br /><br />

  <!-- Submit -->
  <button type="submit" [disabled]="requestForm.invalid">Submit Request</button>
</form>
